In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

# Import Statsmodels
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

In [2]:
df = pd.read_stata("data/5pct_sample_2019_10.dta")
db_date = pd.read_csv("data/db_date.csv")

In [3]:
new_df = df.merge(db_date, on = 'date')

In [4]:
df1 = np.where(new_df['item'] == 250)
df1 = new_df.loc[df1]

In [5]:
ts = df1[['date2','price','region']]
ts.head()

           date2  price       region
141   01-12-2014   0.45       London
696   01-12-2014   0.49   South East
1726  01-12-2014   0.75  East Anglia
1727  01-12-2014   0.99  East Anglia
1728  01-12-2014   0.49  East Anglia

In [6]:
ts.rename(columns={'date2':'date'},inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [7]:
ts['date'] = pd.to_datetime(ts["date"],format="%d-%m-%Y")

C:\Users\ColCelCo\AppData\Local\Temp/ipykernel_36652/2922480741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts['date'] = pd.to_datetime(ts["date"],format="%d-%m-%Y")

In [8]:
ts.head()

           date  price       region
141  2014-12-01   0.45       London
696  2014-12-01   0.49   South East
1726 2014-12-01   0.75  East Anglia
1727 2014-12-01   0.99  East Anglia
1728 2014-12-01   0.49  East Anglia

In [9]:
#Removing duplicates
ts.drop_duplicates(keep = "first",inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [10]:
ts.duplicated().sum()

0